// Les mixins permettent d'insérer des bouts de code qui se répètent avec des paramètres personnalisables
// On peut aussi créer des mixins sans paramètre mais on préfère utiliser les placeholders dans ces cas là
@mixin paragraphe($padding, $font-size) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: $font-size;
    padding: $padding;
}