$main-cl: rgb(83, 135, 60);
$main-cl-dark: darken($main-cl, 20%);
$main-cl-darker: darken($main-cl, 40%);
$main-cl-light: lighten($main-cl, 20%);
$main-cl-lighter: lighten($main-cl, 40%);
$border-radius: 5px;