header {
    background-color: $main-cl;
    height: 80px;
    padding: 10px 60px;
    a{
        color: #fff;
    }
    .logo {
        font-size: 35px;
    }
    .header-logo {
        text-align: center;
    }
}